PORT=3001 # 端口可自行更改
JWT_SECRET=_production_grade_secret_key_
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

# development 为开发环境，正式上线后改为 production
NODE_ENV=development